*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.banner{
    background-image: url(./img/Rectangle\ 1.svg);
    background-repeat: no-repeat;
    width:100%;
    height: 90vh;
    padding-left: 50px;
    padding-bottom: 50px;
}
.banner__menu{
    display: flex;
    gap:20px;
   justify-content: end;
   padding: 20px;
}
.banner__menu-item{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    align-items: center;
    padding: 5px;

}
.btn{
  width:100px;
    background-color: red;
    border: none;
    border-radius:5px;
    padding:5px;
    font-size: 1.2rem;
    color:white;
}
.banner__text{
    padding-top: 130px;
    padding-left:50px  ;
    width: 40%;
}
.banner__text h2{
    font-size: 3rem;
}
.banner__text p{
    font-size: 1.2rem;
}
.banner__input{
    display: flex;
    background-color: white;
    width: 30%;
    padding:15px 0;
    margin-left: 50px;
    border-radius: 5px;
    justify-content: space-between;

}
.banner__input input{
    padding: 7px 10px;
    margin-left:5px;
    border:none;
}
.banner__input button{
    margin-right: 5px;
}
.banner__second{
    padding-top: 60px;
}
.banner__second-text{
    width: 50%;
   margin: 0 300px;
}
.banner__second-text h2{
    font-size: 30px;
   margin:0 25%;
}

.banner__second-text p{
    font-size: 17px;
    margin:0 15px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  text-align: center;
  padding: 20px;
  background: #fff;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.top-circle-1 {
  width: 25px;
  height: 25px;
  background-color: #f17d7de5;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}
.top-circle-2 {
  width: 25px;
  height: 25px;
  background-color: rgba(235, 17, 235, 0.788);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
}
.top-circle-3 {
  width: 25px;
  height: 25px;
  background-color:#6bd0ff;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}
.top-circle-4 {
  width: 25px;
  height: 25px;
  background-color: #6bd0ff;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}
.top-circle-5 {
  width: 25px;
  height: 25px;
  background-color: #ff6b6b;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}
.top-circle-6 {
  width: 25px;
  height: 25px;
  background-color: #ffb36bc0;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}
.footer-first {
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 40px 20px;
  padding-bottom: 50px;
}

.footer-first h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 30px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-item {
  max-width: 250px;
  padding: 15px;
  font-size: 15px;
}
.header{
  padding:70px 60px;
  width:100%;
  display: flex;
  gap:10%;
  
}
.header__text{
  width: 45%;
}
.header__text h2{
font-size: 4rem;
}
.header__text p{
  font-size:1.7rem;
  padding:40px 0;

}
.header__img{
width:45%;
border-radius: 8px;
}
.references {
  text-align: center;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.references .logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, 100px); 
  gap: 10px;
  width:100%;
}

.logos img:nth-child(1)
 { grid-column: 3; grid-row: 1; } 
.logos img:nth-child(2) 
{ grid-column: 2; grid-row: 2; } 
.logos img:nth-child(3)
 { grid-column: 4; grid-row: 2; } 
.logos img:nth-child(4)
 { grid-column: 1; grid-row: 3; } 
.logos img:nth-child(5)
 { grid-column: 3; grid-row: 3; } 
.logos img:nth-child(6) 
{ grid-column: 5; grid-row: 3; } 
.logos img:nth-child(7)
 { grid-column: 2; grid-row: 4; } 
.logos img:nth-child(8) 
{ grid-column: 4; grid-row: 4; } 
.logos img:nth-child(9) 
{ grid-column: 3; grid-row: 5; } 

.more{
  color:red;
  background-color: white;
}

.user__text__img{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user__text h1{
  align-items: center;
  padding-left: 150px;
}
.user__img{
    position: relative;
}
.top-circle-user {
  width: 40px;
  height: 40px;
  background-color: #ffb36bc0;
  border-radius: 50%;
  position: absolute;
  top:5px;
  right: 5px;
}

 .footer{
    background-color: #F84646;
    height: auto;
    padding: 150px;
}
.footer-text{
    display: flex;
    height: auto;
}
.footer_li{
  list-style: none;
    display: flex;
    width: 18rem;
    flex-direction: column;
    gap: 2rem;
    color: white;
}